/*



// This file is part of Simulator https://github.com/Yabala/simulator
//
// Calculator is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Simulator is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Simulator.  If not, see <http://www.gnu.org/licenses/>.



*/



body{
    font-family: verdana;
    background-color: #0FA7FF;
    color: #FFFFFF;
}

h1{
    background-color: #000055;
    padding: 10px;
}

h2{
    border: 1px solid white;
    padding: 10px;
}

#submit {
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px;
    margin: 0 0px 0px 0;
    background: #0FA7FF;
    border: 1px solid white;
}

#submit:hover {
    background: #ff8c00;
}



form.index {
	margin: 10px;
	padding: 10px;
 }
 
 div.index {
 	margin: 3px;
 	padding: 3px;
 }
 


form.admin {
	border: 1px solid white;
	margin: 10px;
	padding: 10px;
 }
 
 div.admin {
     //background: #FFFFFF;
     //color: #000000;
 }

table.admin {
    border: 0px solid white;
}

tr.admin, td.admin {
    border: 0px solid white;
    text-align: center;
} 



form.add {
 	border: 1px solid white;
 	margin: 10px;
 	padding: 10px;	 
 }
 
 div.add {
	 
 }
 
 
 
 form.del {
  	border: 1px solid white;
  	margin: 10px;
  	padding: 10px;	 
  }
  
  div.del {
 	 
 }
 


